### creating knn model for breast cancer dataset in sklearn.dataset module

importing libraries

In [2]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

importinmg dataset

In [3]:
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split

In [4]:
all_data = load_breast_cancer()

x_data = all_data.data
y_data = all_data.target

In [26]:
print(y_data)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 1 1 1 0 1 0 0 1 1 1 1 0 1 0 0
 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0 0 1 0
 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 1 0 0 1 1
 1 0 1 1 1 1 1 0 0 1 1 0 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 0 1 1 0 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 0 0 0 1 1
 1 1 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 0
 0 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1 1 1 1 1 0 1 1
 0 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 0 0 0 0 1]

In [27]:
print(x_data.shape)

(569, 30)

In [28]:
print(y_data.shape)

(569,)

In [29]:
pd_data = pd.DataFrame(x_data)
pd_target = pd.DataFrame(y_data,columns=["target"])

In [30]:
pd_data = pd.concat([pd_data,pd_target],axis=1)
pd_data["target"]

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: target, Length: 569, dtype: int64

In [31]:
pd_data[0]

0      17.99
1      20.57
2      19.69
3      11.42
4      20.29
       ...
564    21.56
565    20.13
566    16.60
567    20.60
568     7.76
Name: 0, Length: 569, dtype: float64

In [32]:
pd_data.shape

(569, 31)

In [33]:
pd_data.columns

Index([       0,        1,        2,        3,        4,        5,        6,
              7,        8,        9,       10,       11,       12,       13,
             14,       15,       16,       17,       18,       19,       20,
             21,       22,       23,       24,       25,       26,       27,
             28,       29, 'target'],
      dtype='object')

In [34]:
pd_data.columns

Index([       0,        1,        2,        3,        4,        5,        6,
              7,        8,        9,       10,       11,       12,       13,
             14,       15,       16,       17,       18,       19,       20,
             21,       22,       23,       24,       25,       26,       27,
             28,       29, 'target'],
      dtype='object')

In [39]:
train , test = train_test_split(pd_data,test_size=0.25,random_state=44)

In [40]:
train.shape

(426, 31)

In [61]:
test.shape

(143, 31)

In [63]:
y_train = train["target"]

In [65]:
x_train = train.drop(columns="target")

In [66]:
train.shape

(426, 31)

In [67]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
400,17.91,21.02,124.40,994.0,0.12300,0.25760,0.318900,0.11980,0.2113,0.07115,...,20.80,27.78,149.60,1304.0,0.18730,0.59170,0.90340,0.19640,0.3245,0.11980
270,14.29,16.82,90.30,632.6,0.06429,0.02675,0.007250,0.00625,0.1508,0.05376,...,14.91,20.65,94.44,684.6,0.08567,0.05036,0.03866,0.03333,0.2458,0.06120
124,13.37,16.39,86.10,553.5,0.07115,0.07325,0.080920,0.02800,0.1422,0.05823,...,14.26,22.75,91.99,632.1,0.10250,0.25310,0.33080,0.08978,0.2048,0.07628
444,18.03,16.85,117.50,990.0,0.08947,0.12320,0.109000,0.06254,0.1720,0.05780,...,20.38,22.02,133.30,1292.0,0.12630,0.26660,0.42900,0.15350,0.2842,0.08225
433,18.82,21.97,123.70,1110.0,0.10180,0.13890,0.159400,0.08744,0.1943,0.06132,...,22.66,30.93,145.30,1603.0,0.13900,0.34630,0.39120,0.17080,0.3007,0.08314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,11.41,10.82,73.34,403.3,0.09373,0.06685,0.035120,0.02623,0.1667,0.06113,...,12.82,15.97,83.74,510.5,0.15480,0.23900,0.21020,0.08958,0.3016,0.08523
84,12.00,15.65,76.95,443.3,0.09723,0.07165,0.041510,0.01863,0.2079,0.05968,...,13.67,24.90,87.78,567.9,0.13770,0.20030,0.22670,0.07632,0.3379,0.07924
96,12.18,17.84,77.79,451.1,0.10450,0.07057,0.024900,0.02941,0.1900,0.06635,...,12.83,20.92,82.14,495.2,0.11400,0.09358,0.04980,0.05882,0.2227,0.07376
173,11.08,14.71,70.21,372.7,0.10060,0.05743,0.023630,0.02583,0.1566,0.06669,...,11.35,16.82,72.01,396.5,0.12160,0.08240,0.03938,0.04306,0.1902,0.07313
419,11.16,21.41,70.95,380.3,0.10180,0.05978,0.008955,0.01076,0.1615,0.06144,...,12.36,28.92,79.26,458.0,0.12820,0.11080,0.03582,0.04306,0.2976,0.07123

In [68]:
y_train

400    0
270    1
124    1
444    0
433    0
      ..
120    1
84     1
96     1
173    1
419    1
Name: target, Length: 426, dtype: int64

here i can choose 4 for n_neighbors parameter,and i can change the accuracy of my model by changine it,but in general,kneighbors models,arent accurate att all and i am using it because of educational porpuses

In [69]:
knc = KNeighborsClassifier(n_neighbors=4)

In [71]:
knc.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [77]:
y_test = test["target"]
x_test = test.drop(columns="target")

In [81]:
predicted_resault=knc.predict(x_test)
print(predicted_resault)

[0 0 1 0 1 0 1 0 0 1 1 1 0 0 1 1 1 0 0 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 0 0 1 1 0 1 1 1 0 1 0 0 1 0 0 0 1 0 1
 1 0 0 1 0 0 0 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1 0 1 0 0 1 0 1 1 0 0 1 0
 0 0 0 1 1 1 1 1 0 0 1 0 0 0 0 0 1 1 0 1 1 1 1 1 1 0 1 1 1 0 0 1]

In [82]:
y_test

43     0
499    0
102    1
252    0
542    1
      ..
367    1
474    1
30     0
541    1
289    1
Name: target, Length: 143, dtype: int64

In [83]:
score = knc.score(x_test,y_test)

print("the fianl score,for n=4 is:{}".format(score))

the fianl score,for n=4 is:0.9230769230769231

I didnt expect this score for knn algorithm. 
I think we should be be proud of ourselves:))